/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
*{
    margin: 0;
}
.font-family{
    font-family: 'Neucha', cursive;
}
/* Структура блоков */
body{
    background-color:rgba(35, 35, 35, 1);
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    align-items: flex-end;
}
.img-kapi img{
    height: 99vh;
}
.kappis-box{
    height: 80vh;
    /* width: 100vw; */
}
.first-block-text{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-end;
}
.block-txt{
    width: 100%;
    height: 250px;

}
.console{
    height: 500px;
    width: 100%;
}